<!DOCTYPE html>
<html>
  <head>
    <title>Pemp's Gameroom</title>

    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Welcome to my Game room</h1>

    <form action="/" method="post">

    <input type="text" id="name" name="name" placeholder="Enter your name">
    <button type="submit" class="btn btn-primary" id="NameSubmit">Submit</button>
  </form>

  <form action="/NewRoom" method="post">

    <input type="text" id="roomName" name="roomName" placeholder="Enter a room name">
    <button type="submit" class="btn btn-primary" id="Room">Submit</button>
  </form>

  <script src="/javascripts/game-socket.js"></script>
  </body>
</html>
