<!DOCTYPE html>
<html>
  <head>
    <title>Pemp's Gameroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <% include template.ejs %>
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
    <h1>Welcome to my Game room</h1>

    <h3 id="test"></h3>
    <script src="javascripts/socketConnection.js"></script>
  </body>
</html>
